/upload/*
/bitrix/components/bitrix/*
/bitrix/modules/*
/bitrix/images/*
/bitrix/image_uploader/*
/bitrix/sounds/*
/bitrix/cache/*
/bitrix/css/*
/bitrix/managed_cache/*
/bitrix/templates/.default/*
/bitrix/tmp/*
/bitrix/wizards/*
/bitrix/tools/*
/bitrix/themes/*
/bitrix/fonts/
/bitrix/gadgets/*
/bitrix/admin/*
/bitrix/services/*
.idea/*